@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* base styles */
* {
  color: #555252;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
