@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* base styles */
* {
  color: #555252;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.8px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto; 
}
