@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: black;
  text-decoration: none;
}
.navbar {
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar h1 {
  color: #313131;
  font-size: 30px;
  font-weight: 10000;
}
.navbar .links a {
  margin: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #313131;
}
.navbar .iconLinks a {
  margin: 0;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #A749FF;
}
.content {
  margin: 10px auto;
  padding: 20px;
  background-color: #DBFFFB;
}

.slider {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  font-size: 30px;
}

.slider .sliderText {
  margin-top: 100px;
  width: 100%;
}

.home {
  padding: 100px 0;
}